.icon{
    max-width: 2.5rem;
    margin-right: 1.5rem;
    padding: .2rem;
    border-bottom: 3px solid white;
    transition: border 300ms ease-in-out;
}

.icon:hover{
    border-bottom: 3px solid rgb(120, 125, 65);
}

.hoverNote{
    margin-top: 0.8rem;
    transition: 300ms ease-in-out;
}

@media (max-width: 600px) {
    .iconWrapper{
        text-align: center;
    }
    .icon {
        max-width: 2rem;
        margin-right: 1rem;
    }
}