.icon{
    max-width: 2.5rem;
    margin-right: 1.5rem;
    padding: .2rem;
    border-bottom: 3px solid white;
    transition: border 300ms ease-in-out;
}

.icon:hover{
    border-bottom: 3px solid rgb(120, 125, 65);
}

.hoverNoteHide{
    margin-top: 0.8rem;
    opacity: 0;
    transition: opacity 300ms ease-in-out;
}

.hoverNoteShow{
    margin-top: 0.8rem;
    opacity: 1;
    transition: opacity 300ms ease-in-out;
}

@media (max-width: 600px) {

    .iconWrapper{
        text-align: center;
    }
    .icon {
        max-width: 2rem;
        margin-right: 1rem;
    }
}