.icon{
    max-width: 2.5rem;
    margin-right: 1.5rem;
    padding: .2rem;
    border-bottom: 3px solid white;
}

.icon:hover{
    border-bottom: 3px solid rgb(120, 125, 65);
}

@media (max-width: 600px) {

    .iconWrapper{
        text-align: center;
    }
    .icon {
        max-width: 2rem;
    }
}