@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  font-weight: 100;
  color: rgb(140, 130, 122);
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@media (max-width: 600px) {
  body{
      font-size: .9rem;
  }
}

p{
  margin-top: 0;
}

hr{
  height: 2px;
  background-color: rgb(140, 130, 122);
  border: none;
}

button{
  font-family: 'Barlow Semi Condensed', sans-serif;
  color: rgb(140, 130, 122);
  background-color: white;
  border-radius: 3px;
  border: 2px solid rgb(165, 30, 80);
  box-shadow: 3px 3px rgb(181, 173, 165);
  padding: .1rem 1.5rem;
  cursor: pointer;
  transition: all 300ms ease-in-out;
}

button:hover{
  color: rgb(165, 30, 80);
  background-color:rgba(181, 173, 165, .3);
  box-shadow: 1px 1px rgb(181, 173, 165);
}

p:first-child{
  text-align: left;
}