.container {
  min-height: 100vh;
  padding: 0 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.page {
  padding: 1.5rem 5rem;
  flex: 1;
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  width: 100%;
  max-width: 80rem;
}

.main {
  width: 75%;
  margin: 0;
}

.footer {
  width: 100%;
  height: 5rem;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  color: var(--ltgrey);
  font-size: 0.75rem;
}

@media (max-width: 600px) {
  .main {
    width: 100%;
    padding-inline: 1rem;
  }
  .page {
    width: 100%;
    flex-direction: column;
    justify-content: flex-start;
    padding: 0.5rem;
  }
}
