@import url('https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:wght@700&display=swap');

.navList{
    min-width: 150px;
    max-width: 180px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    font-family: 'Barlow Semi Condensed', sans-serif;
    font-size: 1.5rem;
    margin-bottom: 1rem;
}

.navItem{
    color: rgb(140, 130, 122);
    margin: 0 .2rem .8rem .2rem; 
    border-bottom: 3px solid rgb(255, 255, 255);
    cursor: pointer;
    transition: color 300ms ease-in-out;
}

@media (max-width: 600px) {
    .navList {
      max-width: 600px;
      width: 100%;
      flex-direction: row;
      justify-content: space-evenly;
      flex-wrap: wrap;
      font-size: 1rem;
    }
  }

.selected{
    color: rgb(165, 30, 80);
    border-bottom: 3px solid rgb(120, 125, 65);
}

.navItem:hover{
    color: rgb(120, 125, 65);
}
