@import url('https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:wght@700&display=swap');

.navList{
    width: 12rem;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    font-family: 'Barlow Semi Condensed', sans-serif;
    font-size: 1.5rem;
    margin-bottom: 1rem;
}

.navItem{
    color: rgb(140, 130, 122);
    margin: 0 .2rem .8rem .2rem; 
    border-bottom: 3px solid rgb(255, 255, 255);
    cursor: pointer;
}

@media (max-width: 600px) {
    .navList {
      width: 100%;
      flex-direction: row;
      justify-content: space-evenly;
      flex-wrap: wrap;
      font-size: 1rem;
    }
  }

.selected{
    color: rgb(165, 30, 80);
    border-bottom: 3px solid rgb(120, 125, 65);
    /* add animation for underline to swipe in and out  and color fade*/
}

.navItem:hover{
    color: rgb(120, 125, 65);
}
