.list{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.container{
    width: 20rem;
    position: relative;
    border: 2px solid rgb(140, 130, 122);
    transition: transform .25s ease;
    font-size: .9rem;
    transition: box-shadow 0.5s ease;
    margin: 0 .8rem .8rem 0 ;
}

.projectImage{
    width: 100%;
    margin: .4rem 0; 
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

.projectTitle{
    background-color: rgb(140, 130, 122);
    color: white;
    padding: .1rem .5rem;
    margin: 0;
    font-size: 1.2rem;
    font-weight: lighter;
}

.projectInfo{
    background-color: white;
    padding: 1rem;
    text-align: center;
    position: absolute;
    overflow: hidden;
    height: 87%;
    top: 2rem;
    opacity: 0;
    transition: opacity 0.5s ease;
}

.container:hover .projectInfo{
    opacity: 100%;
}

.container:hover{
    box-shadow: 2px 2px 2px rgb(181, 173, 165);
}

.icons{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.icon{
    height: 2.5rem;
    margin: 0 .3rem;
    padding: .2rem;
    border-bottom: 3px solid white;
    transition: border 300ms ease-in-out;
}

.icon:hover{
    border-bottom: 3px solid rgb(120, 125, 65);
}

@media (max-width: 650px) {
    .projectImage img{
        width: 95%;
    }
    .container{
        max-width: 20rem;
        width: 90%;
        height: min-content;
    }
}

@media (max-width: 600px) {
    .iconWrapper{
        text-align: center;
    }
    .icon {
        max-width: 2rem;
        margin-right: .5rem;
    }
    .list{
        justify-content: center;
    }
    .projectImage img{
        width: 95%;
    }
    .container{
        max-width: 20rem;
        width: 80%;
        height: min-content;
        font-size: .8rem;
    }
}

@media (max-width: 365px) {
    .projectInfo{
        padding: .5rem;
        overflow: scroll;
    }
}