.container{
    width: 20rem;
    position: relative;
    border: 2px solid rgb(140, 130, 122);
    transition: transform .25s ease;
    font-size: .9rem;
    transition: box-shadow 0.5s ease;
}

.projectImage{
    width: 100%;
    margin: .4rem 0; 
    display: flex;
    justify-content: center;
}

.projectTitle{
    background-color: rgb(140, 130, 122);
    color: white;
    padding: .1rem .5rem;
    margin: 0;
    font-size: 1.2rem;
    font-weight: lighter;
}

.projectInfo{
    background-color: white;
    padding: 1.5rem;
    text-align: center;
    position: absolute;
    overflow: hidden;
    height: 87%;
    top: 2rem;
    opacity: 0;
    transition: opacity 0.5s ease;
}

.container:hover .projectInfo{
    opacity: 100%;
}

.container:hover{
    box-shadow: 2px 2px 2px rgb(181, 173, 165);
}

.icon{
    max-width: 2rem;
    margin: 0 .3rem;
    padding: .2rem;
    border-bottom: 3px solid white;
    transition: border 300ms ease-in-out;
}

.icon:hover{
    border-bottom: 3px solid rgb(120, 125, 65);
}

@media (max-width: 600px) {
    .iconWrapper{
        text-align: center;
    }
    .icon {
        max-width: 2rem;
        margin-right: .5rem;
    }
}