.title{
    font-family: var(--headerfont);
    font-size: 1.5rem;
    margin: 0;
}

.tech{
    margin: .5rem 0 ;
}

.demo{
    display: block;
    width: 70%;
    max-width: 30rem;
    margin: 1rem auto;
}

.icons{
    margin-bottom: 1.5rem;
}

.icon{
    height: 2.5rem;
    margin: 0 .3rem;
    padding: .2rem;
    border-bottom: 3px solid white;
    transition: border .2s ease-in-out;
}

.icon:hover{
    border-bottom: 3px solid var(--dkmaroon);
}

.detailImgContainer{
    display: flex;
    justify-content: space-evenly;
    padding-bottom: 1rem;
    align-items: center;
}

.detailImgContainer img{
    width: 45%;
}

.backBtn{
    display: block;
    margin: 0 auto;
}

@media (max-width: 800px) {
    .detailImgContainer{
        flex-direction: column;
        padding-bottom: 1rem;
    }
    .detailImgContainer img, .demo{
        width: 90%;
        margin: 1rem auto;
    }
}